CA-ws/src/main/resources/CA.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CA.1_0" targetNamespace="http://www.example.org/CA.1_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/CA.1_0/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/CA.1_0/">
			<xsd:element name="addEntity">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addEntityResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPubKey">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPubKeyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>











	<wsdl:message name="addEntityRequest">
		<wsdl:part name="parameters" element="tns:addEntity"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addEntityResponse">
	</wsdl:message>
	<wsdl:message name="getPubKeyRequest">
		<wsdl:part name="parameters" element="tns:getPubKey"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPubKeyResponse">
		<wsdl:part name="parameters" element="tns:getPubKeyResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CertificateAuthorityPortType">
		<wsdl:operation name="addEntity">
			<wsdl:input message="tns:addEntityRequest"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getPubKey">
			<wsdl:input message="tns:getPubKeyRequest"></wsdl:input>
			<wsdl:output message="tns:getPubKeyResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewBinding" type="tns:CertificateAuthorityPortType"></wsdl:binding>
	<wsdl:service name="CertificateAuthorityService">
		<wsdl:port name="CAPort" binding="tns:NewBinding">
			<soap:address location="http://host:port/CertificateAuthorityWS/endpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>